* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* nav */
.navbar {
  background-color: #ffffff;
  padding: 1.25rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a i {
  margin-right: 0.5rem;
}

.navbar ul li a {
  padding: 0.75rem 1.25rem;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li:last-child a {
  margin-left: 0.75rem;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/* hero */
.hero {
  margin-bottom: 4rem;
}

.hero .container {
  background: url("./images/hero-bg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .hero-content {
  width: 75%;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 1.25rem;
}

/* video section */
.video {
  padding: 0.75rem 0 2.5rem;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-preview {
  margin-bottom: 1.25rem;
}

/* testimonials */

.testimonials {
  padding: 2rem 0;
}

.testimonials .testimonials-heading {
  width: 700px;
  margin-bottom: 3rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.testimonials .card p:nth-child(2) {
  margin-top: 2.5rem;
  font-weight: bold;
}

/* pricing */
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.pricing .pricing-card-subheading {
  margin-bottom: 2rem;
}

.pricing .pricing-card-price {
  margin-bottom: 2rem;
  padding: 1.25rem 0;
  border-bottom: 1px solid #ccc;
}

.pricing ul {
  margin: 2rem 0;
}

.pricing ul li {
  margin-bottom: 1.25rem;
}

.pricing ul li i {
  margin-right: 0.5rem;
}

.pricing-footer {
  margin: 2rem 0;
}

/* faq */

.faq {
  padding: 3rem 0;
}

.faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.25rem;
}

.faq .faq-group .faq-group-header {
  padding: 1.25rem 0;
  margin-bottom: 1rem;
  position: relative;
}
.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}
.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}

.faq ul.faq-menu li {
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  text-align: center;
}

.faq ul.faq-menu li.active{
background-color: var(--primary-color);
color: #fff;
}

/* utilities  */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* text classes */

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 0.75rem 0 0.25rem;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 1.25rem 0 0.75rem;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 2.5rem 0 2.25rem;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 2.5rem 0 2.25rem;
}

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 2.5rem 0 2.25rem;
}

.text-center {
  text-align: center;
}

/* card */
.card {
  background: #fff;
  color: #000;
  border-radius: 0.75rem;
  padding: 1.25rem;
  height: fit-content;
}

/* Background */

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-black {
  background-color: #000000;
  color: #fff;
}
