/* navigation */

:root {
  --grid-gap: 2rem;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0.5rem auto;
  padding: 0.5rem 2.5rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.navigation-logo-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navigation-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-heading {
  font-weight: 600;
  font-size: 1.25rem;
}

.navigation-paragraph {
  font-size: 0.9rem;
  color: #626262;
}

.navigation img {
  width: 60px;
  aspect-ratio: 1/1;
}

.navigation-navigation-container {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.navigation ul li {
  cursor: pointer;
}

.navigation-button {
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

.section-hero {
  padding-top: 6rem;
}

.section-hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--grid-gap);
  min-height: 700px;
}

.hero-card-container {
  display: flex;
  flex-direction: column;
}

.hero-card-image-container {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background: #E6DFD8;
}

.hero-card-image-container img {
  width: 100%;
  position: absolute;
}

/* about section */

.section-about .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.stack-card-container{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    flex-wrap: wrap;
}

.stack-card-container div{
    padding: .25rem .5rem;
    background-color: #E6DFD8;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

/* projects section */

.section-projects .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--grid-gap);
}

.section-projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
}

.project-card{
    position: relative;
    padding: 0 !important;
}

.project-badge{
    background: #ffffff;
    border-radius: 1rem;
    padding: 0.15rem 0.75rem;
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
}

.project-badge span{
    font-size: .85rem;
}

.project-card-image img{
    width: 100%;
    aspect-ratio: 1/1;
}

.project-card-footer{
    padding: 1rem;
    position: relative;
}

.icon-link-container{
    position: absolute;
    right: 20px;
    background: #F5F5F3;
    padding: 1rem;
    border-radius: 9999px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}